<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.wms.mapper.DepotMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.wms.domain.Depot" >
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="location" property="location" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from `depot`
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="cn.wolfcode.wms.domain.Depot" useGeneratedKeys="true" keyProperty="id" >
    insert into `depot` (name, location)
    values (#{name}, #{location})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.wolfcode.wms.domain.Depot" >
    update `depot`
    set name = #{name},
      location = #{location}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, name, location
    from `depot`
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, location
    from `depot`
  </select>
    <select id="queryForCount" resultType="int">
      SELECT count(id)  from `depot`
    </select>
  <select id="queryForList" resultType="cn.wolfcode.wms.domain.Depot">
     select id, name, location
    from `depot`
    limit #{beginIndex},#{pageSize}
  </select>
</mapper>