<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.wms.mapper.ProductMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.wms.domain.Product" >
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="sn" property="sn" />
    <result column="costPrice" property="costPrice" />
    <result column="salePrice" property="salePrice" />
    <result column="imagePath" property="imagePath" />
    <result column="intro" property="intro" />
    <result column="brand_id" property="brandId" />
    <result column="brandName" property="brandName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from `product`
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="cn.wolfcode.wms.domain.Product" useGeneratedKeys="true" keyProperty="id" >
    insert into `product` (name, sn, costPrice, salePrice, imagePath, intro, brand_id, 
      brandName)
    values (#{name}, #{sn}, #{costPrice}, #{salePrice}, #{imagePath}, #{intro}, #{brandId},
      #{brandName})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.wolfcode.wms.domain.Product" >
    update `product`
    set name = #{name},
      sn = #{sn},
      costPrice = #{costPrice},
      salePrice = #{salePrice},
      <if test="imagePath!=null and imagePath!=''">
        imagePath = #{imagePath},
      </if>
      intro = #{intro},
      brand_id = #{brandId},
      brandName = #{brandName}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, name, sn, costPrice, salePrice, imagePath, intro, brand_id, brandName
    from `product`
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, sn, costPrice, salePrice, imagePath, intro, brand_id, brandName
    from `product`
  </select>
  <select id="queryForCount" resultType="java.lang.Integer">
      select  COUNT(id) FROM  product
      <include refid="baseSql"></include>
  </select>
  <select id="queryForList" resultType="cn.wolfcode.wms.domain.Product">
       select id, name, sn, costPrice, salePrice, imagePath, intro, brand_id, brandName
      from `product`
      <include refid="baseSql"></include>
      limit #{beginIndex},#{pageSize}

  </select>
  <sql id="baseSql">
    <where>
        <if test="keyword!=null and keyword!=''">
            AND (name LIKE concat('%',#{keyword},'%') or sn like concat('%',#{keyword},'%'))
        </if>
        <if test="brandId!=-1">
          and brand_id=#{brandId}
        </if>
    </where>
  </sql>

</mapper>



